/*
	Usage:

	<ul class="row">
		<li class="col-4 md-col-2">
			Hello
		</li>
		<li class="col-4 md-col-2">
			World
		</li>
		<li class="col-4 md-col-8">
			World
		</li>
	</ul>

	md-col-8 means column will take 8/12 of the space when the viewport has above medium width
	Need to decide on whether classes like md-row-4 should apply below md or above md
*/

html.lteie9 ul.row > li{
	display: inline-block;
	margin-right: -4px;
}

ul.row{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style-type: none;
	& > li{
		vertical-align: top;
	}
	&.match{
		& > li > *{
			height: 100%;
		}
	}
	&:not(.gutter){

	}
	&.gutter{
		$gutter: 15px;
		@each $key, $val in $breakpoints{
			@include above($val){
				@for $i from 1 through 12{
					@if $i == 12{
						$gutter: 0;
					}
					& > li.#{$key}-col-#{$i}:not(:last-child){
						$width: ((((1 / 12) * $i) * 100) + %);
						width: calc(#{$width} - #{$gutter});
					}
					& > li.#{$key}-col-#{$i}:last-child{
						width: ((((1/12) * $i) * 100) + %);
					}
				}
			}
		}
	}
}
