.tooltip{
	border-bottom: 1px dotted;
	position: relative;
	// & > span{
	// 	position: absolute;
	// 	width: 100px;
	// 	right: 100%;
	// 	top: 50%;
	// 	transform: translateY(-50%);
	// 	display: none;
	// 	background: $mineshaft;
	// 	padding: 5px 10px;
	// 	color: #fff;
	// 	border-radius: 4px;
	// 	margin: 0 10px;
	// 	@include font-size(12px, 16px);
	// 	// &:before{
	// 	// 	content: "";
	// 	// 	position: absolute;
	// 	// 	top: 50%;
	// 	// 	left: 100%; /* To the right of the tooltip */
	// 	// 	margin-top: -5px;
	// 	// 	border-width: 5px;
	// 	// 	border-style: solid;
	// 	// 	border-color: transparent transparent transparent black;
	// 	// }
	// 	&:after{
	// 		content: "";
	// 		position: absolute;
	// 		top: 50%;
	// 		right: 100%; /* To the right of the tooltip */
	// 		margin-top: -5px;
	// 		border-width: 5px;
	// 		border-style: solid;
	// 		border-color: transparent $mineshaft transparent transparent;
	// 	}
	// }



	&.show, &:hover{
		& > span{
			display: inline;
		}
	}
}
