<div class="card bg--white">
	<div class="card__image">
		<img src="{{default imageurl 'http://placehold.it/350x150'}}">
	</div>
	<div class="card__content">
		<h4>{{default title 'Card title'}}</h4>
		<p>{{default description 'Card description'}}</p>
	</div>
</div>
