<header class="header">
	<div class="header__top">

	</div>
	<div class="header__bot">
		<nav role="navigation">
			<ul class="header__nav">
				<li>
					<a href="">Level 1</a>
					<ul>
						<li>
							<a href="">Level 2</a>
							<ul>
								<li><a href="">Level 3</a></li>
								<li><a href="">Level 3</a></li>
								<li><a href="">Level 3</a></li>
							</ul>
						</li>
						<li>
							<a href="">Level 2</a>
							<ul>
								<li><a href="">Level 3</a></li>
								<li><a href="">Level 3</a></li>
								<li><a href="">Level 3</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li>
					<a href="">Level 1</a>
					<ul>
						<li>
							<a href="">Level 2</a>
							<ul>
								<li><a href="">Level 3</a></li>
								<li><a href="">Level 3</a></li>
								<li><a href="">Level 3</a></li>
							</ul>
						</li>
						<li>
							<a href="">Level 2</a>
							<ul>
								<li><a href="">Level 3</a></li>
								<li><a href="">Level 3</a></li>
								<li><a href="">Level 3</a></li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
	</div>
</header>
