{{>textbanner}}
{{>carousel}}

<div class="section wrapped padded-md spec-tool center">
    <div class="row mb3">
        <div class="col-12 sm-col-8 centered">
            <h2>How to use Ideal Spec tool</h2>
            <p>Online specification tools eget sem duis ultricies vestibulum ridiculus parturient vestibulum ultricies pulvinar suspendisse auctor eget.</p>
        </div>
    </div>

    <div class="row mb3">
        <div class="col col-4">
            <img src="/images/icon-create.png" alt="Register for Spec tool" />
            <p>Register to create, specify and manage projects online</p>
        </div>
        <div class="col col-4">
            <img src="/images/icon-search.png" alt="Search for products" />
            <p>Find products by sector, accreditations and solutions</p>
        </div>
        <div class="col col-4">
            <img src="/images/icon-download.png" alt="Download datasheets" />
            <p>Download data sheets, CAD files and other resources</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="register bg--blue__light">
                <div class="col-6 centered">
                    <p>Register for FREE to use Ideal Spec online specifications tools.<br />
                    <a href="">Learn more</a> about the online specification tools.</p>
                    <a href="" class="link-btn">Register now</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section wrapped padded-md bg--grey">
    <h2 class="center">I'm looking for...</h2>
    <ul class="feature-list">
        <li><a href=""><img src="/images/icon-thebluebook.png" alt="The BlueBook">The BlueBook and product brochures</a></li>
            <li><a href=""><img src="/images/icon-bim.png" alt="The BlueBook">Building Information Modelling</a></li>
            <li><a href=""><img src="/images/icon-app-download.png" alt="The BlueBook">The Ideal Spec app download</a></li>
            <li><a href=""><img src="/images/icon-services-design.png" alt="The BlueBook">Ideal Standard’s design services</a></li>
            <li><a href=""><img src="/images/icon-product-guarantee.png" alt="The BlueBook">Product Guarantees</a></li>
            <li><a href=""><img src="/images/icon-standards.png" alt="The BlueBook">Industry Standards and Legislatio</a></li>
    </ul>
</div>

<div class="section wrapped padded-md">
    <h2 class="center">New and featured products</h2>
    {{> product-carousel}}
    <div class="center">
        <a href="" class="link-btn--light">View all latest products</a>
    </div>
</div>

<div class="section wrapped padded-md">
    {{>casestudy}}
</div>

<div class="section wrapped padded-lg bg--grey news-list">
    <div class="row mt3 mb3">
        <div class="col col-12 md-col-6">
            {{>news}}
        </div>
        <div class="col col-12 md-col-6">
            {{>news}}
        </div>
    </div>
</div>