<ul class="collist xl-row-5 lg-row-4 md-row-3 sm-row-2 xs-row-1">
	<li>Hello world</li>
	<li>Hello world</li>
	<li>Hello world</li>
	<li>Hello world</li>
	<li>Hello world</li>
	<li>Hello world</li>
	<li>Hello world</li>
	<li>Hello world</li>
	<li>Hello world</li>
	<li>Hello world</li>
	<li>Hello world</li>
	<li>Hello world</li>
	<li>Hello world</li>
	<li>Hello world</li>
</ul>
