<div class="section wrapped padded-v-sm">
	<div class="qubase-thing1 fadeslide-left"></div>
	<div class="qubase-thing1 fadeslide-above"></div>
	<div class="qubase-thing1 fadeslide-right"></div>
	<div class="qubase-thing1 fadeslide-below"></div>
	<div class="qubase-thing1 fadeslide-left"></div>
	<div class="qubase-thing1 fadeslide-above"></div>
	<div class="qubase-thing1 fadeslide-right"></div>
	<div class="qubase-thing1 fadeslide-below"></div>
	<div class="qubase-thing1 fadeslide-left"></div>
	<div class="qubase-thing1 fadeslide-above"></div>
	<div class="qubase-thing1 fadeslide-right"></div>
	<div class="qubase-thing1 fadeslide-below"></div>
	<div class="qubase-thing1 fadeslide-left"></div>
	<div class="qubase-thing1 fadeslide-above"></div>
	<div class="qubase-thing1 fadeslide-right"></div>
	<div class="qubase-thing1 fadeslide-below"></div>
	<div class="qubase-thing1 fadeslide-left"></div>
	<div class="qubase-thing1 fadeslide-above"></div>
	<div class="qubase-thing1 fadeslide-right"></div>
	<div class="qubase-thing1 fadeslide-below"></div>
	<div class="qubase-thing1 fadeslide-left"></div>
	<div class="qubase-thing1 fadeslide-above"></div>
	<div class="qubase-thing1 fadeslide-right"></div>
	<div class="qubase-thing1 fadeslide-below"></div>
	<div class="qubase-thing1 fadeslide-left"></div>
	<div class="qubase-thing1 fadeslide-above"></div>
	<div class="qubase-thing1 fadeslide-right"></div>
	<div class="qubase-thing1 fadeslide-below"></div>
</div>
