<section class="padded-md">
	<p>
		A project's brand colours should be added to the <code>$colors</code> map in <code>_variables.scss</code>. If you don't have any particular names in mind for each colour, <a href="http://chir.ag/projects/name-that-color">this site</a> has suitable names based on hex colours. <a href="http://www.color-blindness.com/color-name-hue/">color-blindness.com</a> also provide a similar tool which also shows the hue for specific colours.
	</p>
</section>
