<div class="section wrapped padded-v-sm">
	<div class="flex-row">
		<div>This</div>
		<div>is</div>
		<div>a</div>
		<div>flex</div>
		<div>row</div>
	</div>

	<div class="flex-col">
		<div>This</div>
		<div>is</div>
		<div>a</div>
		<div>flex</div>
		<div>col</div>
	</div>

	<div class="flex-row">
		<div class="flex-left">
			flex-left
		</div>
		<div class="flex-right">
			flex-right
		</div>
	</div>

	<div class="flex-row flex-center-children-h">
		<div>This element's parent has class flex-center-children-h</div>
	</div>

	<div class="flex-row">
		<div class="flex-center-self-h">This element has class flex-center-self-h</div>
	</div>
</div>
