<section class="padded-v-md">
	<h2>Example of a good form</h2>
	<br>
	<h3>Sign up to this great service</h3>
	<br>
	<form>
		<table>
			<tr>
				<td>
					<label class="required">First name</label>
				</td>
				<td>
					<input type="text" name="firstname" placeholder="First name" required>
				</td>
			</tr>
			<tr>
				<td>
					<label class="required">Surname</label>
				</td>
				<td>
					<input type="text" name="surname" placeholder="Surname" required>
				</td>
			</tr>
			<tr>
				<td>
					<label class="required">Email Address</label>
				</td>
				<td>
					<input type="email" name="email" placeholder="Email" required>
				</td>
			</tr>
			<tr>
				<td>
					<label class="required">Password</label>
				</td>
				<td>
					<input type="password" name="password" placeholder="Password" required>
				</td>
			</tr>
			<tr>
				<td>
					<label>Feedback</label>
				</td>
				<td>
					<textarea rows="4" placeholder="I think this is a great service because..."></textarea>
				</td>
			</tr>
			<tr>
				<td>
					<label>Rating</label>
				</td>
				<td>
					<input type="radio" name="rl1" id="r1" checked><label for="r1">1</label>
					<input type="radio" name="rl1" id="r2"><label for="r2">2</label>
					<input type="radio" name="rl1" id="r3"><label for="r3">3</label>
				</td>
			</tr>
		</table>
		<button type="submit">Submit</button>
	</form>
</section>
