<div class="section padded-sm">
<div>
	<label>Textbox</label>
	<input type="text" placeholder="textbox"/>
	<input type="text" placeholder="disabled" disabled/>
	<input type="text" placeholder="disabled" disabled/>
	<input type="text" placeholder="disabled" disabled/>
	<span class="required">
		<input type="text" placeholder="required" required/>
	</span>
</div>

<div>
<label>Textarea</label>
<textarea>
</textarea>
</div>

<div>
	<label>Email</label>
	<input type="email" placeholder="example@example.com"/>
	<input type="email" placeholder="disabled" disabled/>
	<span class="required">
		<input type="email" placeholder="required" required/>
	</span>
</div>

<div>
	<label>Password</label>
	<input type="password" placeholder="your password"/>
	<input type="password" placeholder="disabled" disabled/>
	<span class="required">
		<input type="password" placeholder="required" required/>
	</span>
</div>

<div>
	<label>Search</label>
	<input type="search" placeholder="Search"/>
	<input type="search" disabled placeholder="disabled"/>
	<span class="required">
		<input type="search" placeholder="required" required/>
	</span>
</div>

<div>
	<label>URL</label>
	<input type="url" placeholder="URL"/>
	<input type="url" disabled placeholder="disabled"/>
	<span class="required">
		<input type="url" placeholder="required" required/>
	</span>
</div>

<label>File</label>
<input type="file"/>
<input type="file" disabled/>
<span class="required">
	<input type="file" required multiple/>
</span>


<label>Radio Buttons</label>
<div>
	<input type="radio" name="r1" checked/> Radio 1
	<input type="radio" name="r1"/> Radio 2

	<input type="radio" name="r2" checked disabled/> disabled 1
	<input type="radio" name="r2" disabled/> disabled 2

	<span class="required">
		<input type="radio" name="r3" required/> required 1
		<input type="radio" name="r3" required/> required 2
	</span>
</div>

<label>Checkboxes</label>
<div>
	<input type="checkbox" name="c1" value="Checkbox 1" checked/> Checkbox 1
	<input type="checkbox" name="c1" value="Checkbox 2"/> Checkbox 2

	<input type="checkbox" name="c2" value="disabled 1" disabled checked/> disabled 1
	<input type="checkbox" name="c2" value="disabled 2" disabled/> disabled 2

	<span class="required">
		<input type="checkbox" name="c3" value="required 1"  required/> required 1
		<input type="checkbox" name="c3" value="required 2" required/> required 2
	</span>
</div>

<label>Dropdown</label>
<select>
	<option>Option 1</option>
	<option>Option 2</option>
	<optgroup label="Option Group">
		<option>Option 3</option>
		<option>Option 4</option>
	</optgroup>
</select>
<select disabled>
	<option>disabled</option>
</select>
<span class="required">
	<select required>
		<option>required 1</option>
		<option>required 2</option>
	</select>
</span>


<label>Select with size attribute</label>
<select size="3">
	<option selected>Option 1</option>
	<option>Option 2</option>
	<option>Option 3</option>
	<option>Option 4</option>
	<option>Option 5</option>
</select>
<select size="3" disabled="true">
	<option>Option 1</option>
	<option>Option 2</option>
	<option>Option 3</option>
	<option>Option 4</option>
	<option>Option 5</option>
</select>
<span class="required">
	<select size="3">
		<option required>Option 1</option>
		<option>Option 2</option>
		<option>Option 3</option>
		<option>Option 4</option>
		<option>Option 5</option>
	</select>
</span>


<label>Text Area</label>
<textarea placeholder="Text area"></textarea>
<textarea placeholder="disabled" disabled></textarea>
<span class="required">
	<textarea placeholder="required" required></textarea>
</span>

<label>Buttons</label>
<button type="button" onclick="alert('Hello world')">Button</button>
<button type="button" onclick="alert('Hello world')" disabled>Disabled</button>


<input type="button" value="Button"/>
<input type="button" value="Disabled" disabled/>


<input type="reset" value="Reset"/>
<input type="reset" value="Disabled" disabled/>


<input type="submit"/>
<input type="submit" value="Disabled" disabled/>


<label>Range</label>
<input type="range" value="50"/>
<input type="range" value="50" disabled/>


<label>Number</label>
<input type="number" value="50"/>
<input type="number" value="50" disabled/>
<span class="required">
	<input type="number" required/>
</span>


<label>Date</label>
<input type="date"/>
<input type="date" disabled/>
<span class="required">
	<input type="date" required/>
</span>


<label>Month</label>
<input type="month"/>
<input type="month" disabled/>
<span class="required">
	<input type="month" required/>
</span>


<label>Week</label>
<input type="week"/>
<input type="week" disabled/>
<span class="required">
	<input type="week" required/>
</span>


<label>Time</label>
<input type="time"/>
<input type="time" disabled/>
<span class="required">
	<input type="time" required/>
</span>


<label>Datetime</label>
<input type="datetime-local"/>
<input type="datetime-local" disabled/>
<span class="required">
	<input type="datetime-local" required/>
</span>


<label>Colour</label>
<input type="color"/>
<input type="color" disabled/>
</div>
