<div class="section padded-sm">
	<ul class="row match">
		<li class="col-12 md-col-2">
			<div class="person">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
		</li>
		<li class="col-12 md-col-2">
			<div class="person">Matched heights</div>
		</li>
		<li class="col-12 md-col-8">
			<div class="person">Matched heights</div>
		</li>
	</ul>
</div>

<div class="section padded-sm">
	<ul class="collist xs-row-1 sm-row-2 md-row-3 lg-row-4 xl-row-5">
		<li class="person">James</li>
		<li class="person">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
		<li class="person">George</li>
		<li class="person">Harry</li>
		<li class="person">Sally</li>
		<li class="person">Tim</li>
		<li class="person">Hannah</li>
		<li class="person">Jordan</li>
	</ul>
</div>

<div class="section padded-sm">
	<ul class="row gutter">
		<li class="col-4">
			<div class="person">Gutter</div>
		</li>
		<li class="col-4">
			<div class="person">Gutter</div>
		</li>
		<li class="col-4">
			<div class="person">Gutter</div>
		</li>
	</ul>
</div>
