<div class="section wrapped padded-v-md">
	<h2>Basic layouts</h2>
	<p>
		Below are some examples of responsive, cross-compatible layouts.
	</p>
	<br>

	<div class="flex-col qubase-layout-1">
		<div class="flex-row">
			<h4>This is a long title that goes across the top</h4>
		</div>
		<div class="flex-row flex-wrap">
			<div class="col-12 md-col-6 qubase-layout-1__col">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec laoreet lorem. Nullam aliquet tincidunt nisl, rutrum posuere purus ornare at. Maecenas lacus turpis, interdum ac rhoncus sed, suscipit vulputate purus. Suspendisse in dui lacus. Etiam gravida orci elit, non condimentum felis sagittis sit amet. Nam in ornare orci. Etiam eu urna eu elit elementum tincidunt. Nunc sapien urna, aliquam eu odio a, mollis scelerisque sapien.
			</div>
			<div class="flex-col flex-space-between col-12 md-col-6 qubase-layout-1__col">
				<div>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec laoreet lorem. Nullam aliquet tincidunt nisl, rutrum posuere purus ornare at. Maecenas lacus turpis, interdum ac rhoncus sed, suscipit vulputate purus. Suspendisse in dui lacus. Etiam gravida orci elit, non condimentum felis sagittis sit amet. Nam in ornare orci. Etiam eu urna eu elit elementum tincidunt.
				</div>
				<div class="flex-row flex-right">
					Hello world
				</div>
			</div>
		</div>
	</div>
</div>
