<section class="padded-v-md">
	<h2>Reset</h2>
	<p>
		The <code>&lt;reset&gt;</code> class removes some default styling like margin, padding and list-item-style.
	</p>

	<ul>
		<li>List item</li>
		<li>List item</li>
		<li>List item</li>
		<li>List item</li>
	</ul>

	<ul class="reset">
		<li>List item</li>
		<li>List item</li>
		<li>List item</li>
		<li>List item</li>
	</ul>
</section>
