<section class="padded-v-md">
	<h2>Section</h2>
	<p>
		The section element <code>&lt;section&gt;</code> or class <code>.section</code> should be used for sections of content that are contextually separate from other sections.
		The section element and <code>.section</code> class don't actually apply any CSS on their own, but you can add <code>padded</code> classes which will only work on section elements.
	</p>
</section>

<section class="section bg-qubared fg-white">
	section
</section>

<br>

<section class="padded-v-md bg-qubared fg-white">
	section padded-v-md
</section>

<br>

<section class="padded-h-md bg-qubared fg-white">
	section padded-h-md
</section>

<br>

<section class="padded-h-xl bg-qubared fg-white">
	section padded-h-xl
</section>

<br>

<section class="padded-md bg-qubared fg-white">
	section padded-md
</section>

<br>

<h3>Responsive sections</h3>

<section class="section padded-xs xs-padded-sm md-padded-xl bg-qubared fg-white">
	section padded-xs xs-padded-sm md-padded-xl
</section>
