<section class="padded-v-md">
	<h2>Section</h2>
	<p>
		The section element <code>&lt;section&gt;</code> or class <code>.section</code> should be used for sections of content that are contextually separate from other sections.
		The section element and <code>.section</code> class don't actually apply any CSS on their own, but you can add <code>padded</code> classes which will only work on section elements.
	</p>
</div>

<div class="section">
	<div class="qubase-item">section</div>
</section>

<section class="padded-v-md">
	<div class="qubase-item">section padded-v-md</div>
</section>

<section class="padded-h-md">
	<div class="qubase-item">section padded-h-md</div>
</section>
<section class="padded-h-xl">
	<div class="qubase-item">section padded-h-xl</div>
</section>

<section class="padded-md">
	<div class="qubase-item">section padded-md</div>
</section>
