<section class="padded-v-md">
	<h2>Section</h2>
	<p>
		The section element <code>&lt;section&gt;</code> or class <code>.section</code> should be used for sections of content that are contextually separate from other sections.
	</p>
</div>

<div class="section">
	<div class="qubase-item">section</div>
</section>

<section class="padded-v-xs">
	<div class="qubase-item">section padded-v-xs</div>
</section>

<section class="padded-v-sm">
	<div class="qubase-item">section padded-v-sm</div>
</section>

<section class="padded-v-md">
	<div class="qubase-item">section padded-v-md</div>
</section>

<section class="padded-v-lg">
	<div class="qubase-item">section padded-v-lg</div>
</section>

<section class="padded-v-xl">
	<div class="qubase-item">section padded-v-xl</div>
</section>

<section class="padded-h-xs">
	<div class="qubase-item">section padded-h-xs</div>
</section>

<section class="padded-h-sm">
	<div class="qubase-item">section padded-h-sm</div>
</section>

<section class="padded-h-md">
	<div class="qubase-item">section padded-h-md</div>
</section>

<section class="padded-h-lg">
	<div class="qubase-item">section padded-h-lg</div>
</section>

<section class="padded-h-xl">
	<div class="qubase-item">section padded-h-xl</div>
</section>

<section class="padded-xs">
	<div class="qubase-item">section padded-xs</div>
</section>

<section class="padded-sm">
	<div class="qubase-item">section padded-sm</div>
</section>

<section class="padded-md">
	<div class="qubase-item">section padded-md</div>
</section>

<section class="padded-lg">
	<div class="qubase-item">section padded-lg</div>
</section>

<section class="padded-xl">
	<div class="qubase-item">section padded-xl</div>
</section>

<section class="unwrapped">
	<div class="qubase-item">section unwrapped</div>
</section>

<section class="unwrapped padded-sm">
	<div class="qubase-item">section unwrapped padded-sm</div>
</section>

<section class="padded-md">
	<p>You can find more information about how sections wrap content on the <a href="/qubase/Wrapper">Wrapper Examples Page</a></p>
</section>
