.item{
	padding: 10px;
	color: #aaa;
	border: 1px solid #aaa;
	background: #fff;
	height: 100%;
}

.qubase-spacer{
	margin: 0 25px;
}

input[type=range][orient=vertical]{
	-webkit-appearance: slider-vertical;
	writing-mode: bt-lr;
}

.layout-1{
	max-width: 650px;
	padding: 15px;
	background: #ccc;
	&__col{
		padding-top: 10px;
		padding-bottom: 10px;
		@include above(md){
			&:first-child{
				padding-right: 10px;
			}
			&:last-child{
				padding-left: 10px;
			}
		}
	}
}

.layout-2{
	max-width: 650px;
	& > div{
		background: red;
	}
}
