*, :before, :after{
	box-sizing: border-box;
}

html{
	height: 100%;
}

body{
	height: 100%;
	background-color: $body-background;
	font-family: $primary-font;
	-webkit-font-smoothing: antialiased; // standardise font appearance between OS'
	-moz-osx-font-smoothing: grayscale;
	overflow-y: scroll;
}
