// http://www.network-science.de/ascii/

// general
$site-wrapper-width: 900px;
$spacer: 15px;

// breakpoints
$breakpoints: (
	"xs": 350px, // older smartphones
	"sm": 480px, // newer smartphones
	"md": 768px, // tablets and old laptops
	"lg": 1024px, // new laptops and small monitors
	"xl": 1440px // medium+ sized monitors
);

// colours
// http://chir.ag/projects/name-that-color
$mariner: #306BCF;
$curiousblue: #308DCF;
$mineshaft: #222;

$body-background: #eee;

// fonts
$primary-font: "Open Sans", sans-serif;

// type
$base-font-size: 16px;

// collist
$maxCols: 6; // roughly 1KB per col
$collistGutter: $spacer;
