// general
$site-wrapper-width: 900px;
$spacer: 15px;

$breakpoints: (
	"xs": 350px,
	"sm": 480px,
	"md": 768px,
	"lg": 1024px,
	"xl": 1920px
);

// collist
$maxCols: 6; // roughly 1KB per col

// colours
$body-background: #eee;

// fonts
$primary-font: 'Open Sans', sans-serif;
