// https://www.sitepoint.com/managing-responsive-breakpoints-sass/
@mixin below($breakpoint) {
	$value: map-get($breakpoints, $breakpoint);
	@if $value != null {
		@media (max-width: $value) { @content; }
	} @else if type-of($breakpoint) == "number"{
		@media (max-width: $breakpoint) { @content; }
	} @else {
		@warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. Please make sure it is defined in `$breakpoints` map.";
	}
}
@mixin above($breakpoint) {
	$value: map-get($breakpoints, $breakpoint);
	@if $value != null {
		@media (min-width: $value) { @content; }
	} @else if type-of($breakpoint) == "number"{
		@media (min-width: $breakpoint) { @content; }
	} @else {
		@warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. Please make sure it is defined in `$breakpoints` map.";
	}
}

@mixin font-size($min, $max){
	font-size: $max;
	$range: $max - $min;
	$unit: $range / length($breakpoints);
	$i: 0;
	@each $key, $val in $breakpoints{


		// @include above($bp){
		// 	font-size: (($unit * $i) + $min);
		// }
	}
	// @each $key, $val in $breakpoints{
	// 	@include below($val){
	// 		$scale: ($val/map-get($breakpoints, "xl"));
	// 		@debug (($range * $scale) + $min);64-16
	// 	}
	// }
}
