<div class="section wrapped padded-xs">
    <h4>Pattern Library</h4>

    {{#each patterns}}
    	<section class="section wrapped padded-md qubase-pattern">
    		<div class="flex-row qubase-pattern__bar">
				<h5>{{filename}}</h5>
				<button class="flex-right qubase-pattern__code-btn">View code <i class="fa fa-code" aria-hidden="true"></i></button>
    		</div>
			<pre class="qubase-pattern__code" style="display: none;"><code class="language-markup">{{contents}}</code></pre>
    		<div>{{> (lookup this 'filename') }}</div>
    	</section>
    {{/each}}
</div>
