<section class="padded-md">

	<h2>Style Guide</h2>
	<p>
		This is a handcrafted document which should contain all the necessary design guidelines for the project's brand.
		This should include things like how colours should be used together or how particular types of content should be presented.
	</p>


	<h3>Brand Colours</h3>
	<p>
		Quba Red and Pear shouldn't ever be used side-by-side and should instead be used with either Ebony or White.
		The light variants represent tones that can be used in states such as hover or complementry borders.
		Blah blah blah colours are fantastic I love colours so much blah blah blah
		</p>
	<div class="flex-row flex-wrap">
		<div class="qubase-color bg-qubared fg-white">
			Quba Red
		</div>
		<div class="qubase-color bg-qubared-light fg-white">
			Quba Red Light
		</div>
		<div class="qubase-color bg-ebony fg-white">
			Ebony
		</div>
		<div class="qubase-color bg-ebony-light fg-white">
			Ebony Light
		</div>
		<div class="qubase-color bg-white fg-nero">
			White
		</div>
		<div class="qubase-color bg-white-smoke fg-nero">
			White Smoke
		</div>
		<div class="qubase-color bg-pear fg-nero">
			Pear
		</div>
		<div class="qubase-color bg-pear-light fg-nero">
			Pear Light
		</div>
	</div>
</section>
