<section class="padded-md">

	<h2>Style Guide</h2>
	<p>This is a handcrafted document which should contain all the necessary design guidelines for the project's brand. This should include things like how colours should be used together or how particular types of content should be presented.</p>

	<div class="collist row-1 xs-row-2 sm-row-3 md-row-4">
		<div class="qubase-color bg-qubared fg-white">
			qubared
		</div>
	</div>
</section>
